@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* stylelint-disable */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  color: #091e42;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  border-radius: 1em;
  padding-bottom: 12px;
  background-color: #fff;
  margin-bottom: 20px;
  position: fixed;
  z-index: 23;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 143px;
}

.logo a {
  color: #6070ff;
}

.nav-items ul a {
  color: black;
}

.nav-items ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 142px;
}

.nav-items li {
  padding: 8px;
  margin-left: 10px;
}

.bars {
  display: none;
}

.cont {
  border-radius: 1em;
  position: static;
  padding-top: 200px;
  padding-left: 260px;
  padding-right: 260px;
  background-color: white;
  padding-bottom: 280px;
  background-image: url(./images/Ellipse-lg3.svg), url(./images/Ellipse-11.png),
    url(./images/Ellipse-4.svg), url(./images/Rectangle-4.svg);
  background-repeat: no-repeat;
  background-position: right 150px, 139.2px 60.68px, 839px 608px, 1150px 120px;
}

.cont .lp {
  display: none;
}

.header-text {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.text {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 12px;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.projects {
  display: grid;
  border-radius: 1rem;
  padding-top: 100px;
  margin-bottom: 114px;
  margin-top: 12px;
}

.socialmedia {
  float: left;
  display: flex;
  list-style-type: none;
}

.socialmedia li {
  padding-right: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 88px;
  padding-bottom: 20px;
  z-index: 0;
}

.card-rev {
  display: flex;
  flex-direction: row;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.one {
  width: 50%;
}

.two {
  width: 50%;
  margin-left: 50px;
  padding-top: 48px;
}

.card .img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
  width: 90%;
  overflow-x: hidden;
}

.card-rev img {
  left: 16px;
  top: 16px;
  padding: 10px;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  padding-right: 20px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  margin-bottom: 12px;
}

.sub {
  display: flex;

  margin-bottom: 12px;
}

.sub p {
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.sub ul {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;

  list-style-type: circle;
}

.sub li {
  color: #7a869a;
  display: flex;
  justify-content: space-around;
  padding-right: 12px;
}

.article {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  padding-right: 24px;
}

.built-with ul {
  margin-bottom: 12px;
  display: flex;
  margin-left: -40px;
}

.built-with li {
  color: #6070ff;
  outline: none;
  border: none;
  position: static;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #ebebff;
  margin-left: 5px;
  list-style-type: none;
}

.prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.boot {
  background-color: #fff;
  border-top-right-radius: 100px;
  padding-top: 142px;
  padding-left: 142px;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.part-one {
  width: 40%;
  display: block;
}

.part-two {
  margin-left: 12px;
}

.heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 10px;
}

.texting {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
}

.social-connect {
  display: grid;
}

.cta button {
  margin-top: 12px;
  border: 1px solid;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.lang-drop ul {
  list-style-type: none;
}

.lang-head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
  list-style-type: none;
}

.diff {
  display: flex;
}

.buttons {
  display: flex;
  padding-bottom: 30px;
}

.buttons li {
  display: grid;
  border: none;
  border-radius: 8px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #f7f7f9;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.contact {
  font-family: Poppins, sans-serif;
  background-color: #6070ff;
  border-top-left-radius: 100px;

  padding: 142px 320px 127px 320px;
  background-image: url(./images/white.svg), url(./images/Ellipse-11.png),
    url(./images/Ellipse-4.svg), url(./images/Rectangle-4.svg);
  background-repeat: no-repeat;
  background-position: right 150px, 139.2px 60.68px, 839px 608px, 1150px 120px;
}

.contact-text {
  color: #ebebff;
  padding-left: 27px;
  padding-top: 12px;
  text-align: center;
  padding-right: 27px;
  font-weight: 400;
}

.contact-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.heading-contact {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.contact-form ul {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form li {
  list-style-type: none;
}

.contact-form input {
  padding: 15px;
  color: #172b4d;
}

.contact-form input,
textarea {
  padding: 15px;
  color: #172b4d;
  width: 447px;
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contact-form textarea {
  height: 170px;
}

.button-submit {
  padding: 12px 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border: none;
  border-radius: 8px;
}

.contact .texted {
  position: absolute;
  width: 90px;
  height: 89px;
  left: 328px;
  top: 4421.75px;
  color: white;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 1000;
  background-color: white;
  width: 700px;
  max-width: 80%;
}

.modal.active {
  display: block;
  transform: translate(-50%, -50%);
}

.modal img {
  width: 100%;
  height: 320px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.sub-e {
  display: flex;
  padding-left: 24px;
  margin-top: -30px;
}

.sub-e p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.sub-e ul {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-left: 12px;
  list-style-type: circle;
}

.sub-e li {
  color: #7a869a;
  display: flex;
  justify-content: space-around;
  padding-right: 12px;
}

.modal-body {
  display: flex;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6070ff;
  pointer-events: none;
}

#overlay.active {
  opacity: 0.6;
  pointer-events: all;
}

.prompt-e {
  display: flex;
}

.prompt-e button {
  border: 1px solid;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  margin-left: 5px;
}

.prompt-e img {
  height: 20px;
  width: 20px;
}

.built-with-e ul {
  margin-bottom: 12px;
  display: flex;
  margin-left: -40px;
}

.built-with-e li {
  color: #6070ff;
  outline: none;
  border: none;
  position: static;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #ebebff;
  margin-left: 5px;
  list-style-type: none;
}

.two-e {
  width: 50%;
  margin-left: 50px;
}

.source {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.contact-form li + li {
  margin-top: 20px;
}

#buttons ul {
  display: grid;
  margin-bottom: 12px;
  margin-right: 36px;
  background: #f7f7f9;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
}

.cta button:hover {
  background-color: #6070ff;
  color: white;
}

.prompt button:hover {
  background-color: #6070ff;
  color: white;
}

.nav-items li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.projects-container {
  display: grid;
  justify-items: center;
  gap: 3em;
  margin-bottom: 5em;
}

.project .screenshot-container img {
  width: 100%;
  height: auto;
}

.project .project-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.project .project-description {
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  margin-top: 2em;
  font-weight: 200;
  text-align: left;
}

.project .technologies-used {
  display: flex;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
  margin-top: 2em;
  font-weight: 200;
  gap: 10px;
}

.project .project-details-btn {
  border: none;
  width: 89px;
  height: 48px;
  background-color: var(--color-primary-2);
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3%;
  color: var(--color-primary-4);
  cursor: pointer;
}

.project-details-btn:hover {
  background-color: var(--color-primary-2);
  color: var(--color-neutral-11);
}

.project-details-btn:active {
  background-color: var(--color-primary-1);
}

.project-details-btn:focus {
  background-color: var(--color-primary-1);
}

.project-details-btn:disabled {
  background-color: var(--color-neutral-2);
}

.project {
  display: flex;
  flex-direction: row;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 88px;
  padding-bottom: 20px;
}

/* Popup */
.popup-project {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  border: 1px solid #fff;
  backdrop-filter: blur(10px);
  display: flex;
  padding: 12px 30px;
  background-color: white;
  width: 700px;
  max-width: 80%;
  transition: visibility 1s linear, opacity 0.6s ease-in-out;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}

.popup-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-left: -20px;
}

.popup-close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.popup-close:hover {
  color: red;
}

.popup-image {
  width: 100%;
  height: 320px;
}

.popup-long-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  max-width: 500px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
}

.popup-technologies {
  display: flex;
  justify-content: center;
  margin-block: 20px;
}

.popup-technologies .technologies-used {
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-left: -15%;
  gap: 10px;
  font-size: 15px;
  line-height: 20px;
}

.popup-btns-container {
  display: flex;
  gap: 10%;
  margin-bottom: 30px;
  margin-left: -6%;
}

.live-demo-btn .source-code-btn {
  border: 1px solid;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  margin-left: 5px;
}

.pop {
  display: flex;
}
