@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #fff;
  padding-top: 10px;
  margin-bottom: 30px;
  border-radius: 8px;
}

header a {
  text-decoration: none;
}

.logo {
  padding-left: 20px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: #6070ff;
}

.bars.show {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  transition: all 0.7s ease;
}

.bars span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #6070ff;
  border-radius: 1.2rem;
  margin: 5px 0 5px 28px;
  transition: 0.4s;
}

span.color {
  color: #fff;
}

.nav-items {
  position: fixed;
  background: rgb(96, 112, 255);
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(50px at 90% -20%);
  transition: all 1s ease-out;
  pointer-events: none;
  margin-top: -45px;
  opacity: 0.85;
  padding-top: 80px;
}

.nav-items li a {
  display: block;
  text-align: start;
  padding: 10px 0;
  color: #fff;
  justify-content: space-between;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.nav-items.open {
  clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}

.toggle {
  color: #fff;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #fff;
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #fff;
}

.cont {
  width: 100%;
  height: 600px;
  font-family: Poppins, sans-serif;
  border-radius: 1em;
  background-color: #fff;
}

.cont .texted {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 323px;
  top: 152.24px;
}

.header-text {
  padding-right: 100px;
  margin-left: 24px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
  padding-top: 150px;
}

.socialmedia {
  float: left;
  display: flex;
  list-style-type: none;
  padding-left: 24px;
}

.socialmedia li {
  padding-right: 20px;
}

.text {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
}

.connect {
  color: #7f8cff;
  padding-left: 24px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.projects {
  display: grid;
  border-radius: 1rem;
  padding-top: 100px;
  margin-bottom: 114px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.card-rev {
  display: flex;
  flex-direction: column-reverse;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.one img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 24px;
  margin-bottom: 12px;
}

.sub {
  display: flex;
  padding-left: 24px;
  margin-bottom: 12px;
}

.sub ul {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-top: 5px;
  padding-left: 12px;
  list-style-type: none;
}

.sub li {
  color: #7a869a;
  display: flex;
  justify-content: space-around;
  padding-right: 12px;
}

.article {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.built-with {
  margin-bottom: 12px;
}

.built-with li {
  display: none;
}

.prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.boot {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 12rem;
  padding-top: 114px;
  padding-left: 26px;
  padding-right: 24px;
  display: grid;
}

.cta button {
  border: 1px solid;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.cta button:hover {
  background-color: #6070ff;
  color: white;
}

.texting {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
}

.lang-drop {
  display: grid;
}

.languages {
  margin-top: 24px;
  display: grid;
}

.lang-head {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.lag {
  margin-left: -50px;
}

.buttons {
  display: grid;
  margin-left: 24px;
}

.buttons img {
  display: grid;
  padding-left: 24px;
  padding-right: 10px;
}

.framework {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 36px;
  margin-top: 20px;
}

.diff {
  display: grid;
}

.contact {
  width: 100%;
  font-family: Poppins, sans-serif;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  padding-top: 103px;
  height: 799px;
}

.contact-text {
  color: #ebebff;
  padding-left: 27px;
  padding-top: 12px;
  text-align: center;
  padding-right: 27px;
  font-weight: 400;
}

.contact-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.heading-contact {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.contact-form ul {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form li {
  list-style-type: none;
}

.contact-form input {
  padding: 15px;
  color: #172b4d;
}

.contact-form li + li {
  margin-top: 20px;
}

.contact-form input,
textarea {
  padding: 15px;
  color: #172b4d;
  width: 327px;
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contact-form textarea {
  height: 170px;
}

.button-submit {
  padding: 12px 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border: none;
  border-radius: 8px;
  margin-left: 24px;
}

#buttons ul {
  display: grid;
  margin-bottom: 12px;
  margin-right: 36px;
  background: #f7f7f9;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
}

.prompt button:hover {
  background-color: #6070ff;
  color: white;
}
