@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  padding-bottom: 12px;
  background-color: #fff;
}

#logo {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.nav-items ul a {
  color: black;
}

#logo a {
  color: #6070ff;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  padding: 5px;
  margin-left: 10px;
}

.bar {
  display: none;
  top: 50px;
  left: 0;
  padding-right: 20px;
  margin-top: 10px;
}

.bar div {
  width: 35px;
  height: 3px;
  background-color: #acb7c3;
  margin: 5px 0 5px 280px;
  transition: 0.4s;
}

@media only screen and (max-width: 480px) {
  header nav {
    display: none;
  }

  .bar {
    display: block;
    justify-items: end;
  }
}

.container {
  width: 100%;
  height: 600px;
  font-family: Poppins, sans-serif;
  border-radius: 1em;
  background-color: #fff;
}

.container .texted {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 323px;
  top: 152.24px;
}

.header-text {
  padding-right: 100px;
  margin-left: 24px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
  padding-top: 150px;
}

.socialmedia {
  float: left;
  display: flex;
  list-style-type: none;
  padding-left: 24px;
}

.socialmedia li {
  padding-right: 20px;
}

.text {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
}

.connect {
  color: #7f8cff;
  padding-left: 24px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.projects {
  display: grid;
  border-radius: 1rem;
  padding-top: 100px;
  margin-bottom: 114px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.card-rev {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.one img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 24px;
  margin-bottom: 12px;
}

.sub {
  display: flex;
  padding-left: 24px;
  margin-bottom: 12px;
}

.sub ul {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-top: 5px;
  padding-left: 12px;
  list-style-type: none;
}

.sub li {
  color: #7a869a;
  display: flex;
  justify-content: space-around;
  padding-right: 12px;
}

.article {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.built-with {
  margin-bottom: 12px;
}

.built-with li {
  display: none;
}

.prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.about {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 12rem;
  padding-top: 114px;
  padding-left: 26px;
  padding-right: 24px;
}

.cta button {
  border: 1px solid;
  border-radius: 8px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.cta button:hover {
  background-color: #6070ff;
  color: white;
}

.texting {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
}

.lang-drop {
  display: grid;
}

.lang-head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-evenly;
  width: 100%;
}

.languages {
  margin-top: 24px;
}

.languages .lang-drop li {
  display: grid;
  margin-left: 24px;
}

.languages .lang-drop .lang-head {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 36px;
  margin-left: -60px;
}

#buttons {
  display: grid;
  margin-left: 24px;
}

#buttons img {
  display: grid;
  padding-left: 24px;
  padding-right: 10px;
}

.contact {
  width: 100%;
  font-family: Poppins, sans-serif;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  padding-top: 103px;
  height: 799px;
}

.contact-text {
  color: #ebebff;
  padding-left: 27px;
  padding-top: 12px;
  text-align: center;
  padding-right: 27px;
  font-weight: 400;
}

.contact-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.heading-contact {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.contact-form ul {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form li {
  list-style-type: none;
}

.contact-form input {
  padding: 15px;
  color: #172b4d;
}

.contact-form li + li {
  margin-top: 20px;
}

.contact-form input,
textarea {
  padding: 15px;
  color: #172b4d;
  width: 327px;
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contact-form textarea {
  height: 170px;
}

.button-submit {
  padding: 12px 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border: none;
  border-radius: 8px;
  margin-left: 24px;
}

#buttons ul {
  display: grid;
  margin-bottom: 12px;
  margin-right: 36px;
  background: #f7f7f9;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
}

.prompt button:hover {
  background-color: #6070ff;
  color: white;
}
