@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  border-radius: 1em;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.header nav .img {
  height: 40px;
  width: 100%;
  padding-left: 12px;
}

.header nav .bar {
  width: 35px;
  height: 15px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  padding: 5px;
}

.header nav .bar-item {
  height: 5px;
  width: 100%;
  background-color: #6070ff;
  display: block;
  border-radius: 5px;
  padding-bottom: 2px;
}

body .container {
  margin-top: 114px;
  min-width: 327px;
  height: 146px;
  font-family: Poppins, sans-serif;
}

body .container .texted img {
  width: 105px;
  height: 105px;
  margin-left: 293px;
  margin-top: -50px;
}

body .container .two {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  top: 140.47px;
}

body .container .rect {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
}

body .container .eclipse {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 130.98px;
  top: 156.81px;
}

body .container .last {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}

body .container .eclipsee {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 540.69px;
}

body .container .lastone {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 550.44px;
  z-index: 1;
}

body .container .header-text {
  padding-right: 100px;
  margin-left: 24px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: -40px;
}

body .container .text {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

body .container .connect {
  color: #7f8cff;
  padding-left: 24px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

body .container .socialmedia {
  display: flex;
  padding-left: 24px;
  margin: 12px;
}

body .container .socialmedia li {
  padding-right: 15px;
  list-style-type: none;
  cursor: pointer;
}
