@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  border-radius: 1em;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.header nav .img {
  height: 40px;
  width: 100%;
  padding-left: 12px;
}

.header nav .bar {
  width: 35px;
  height: 15px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  padding: 5px;
}

.header nav .bar-item {
  height: 5px;
  width: 100%;
  background-color: #6070ff;
  display: block;
  border-radius: 5px;
  padding-bottom: 2px;
}
