@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f9;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 1em;
  background-color: #ffff;
}

.header nav .img {
  height: 40px;
  width: 100%;
  padding-left: 12px;
}

.header nav .bar {
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}

.header nav .bar-item {
  height: 5px;
  width: 100%;
  background-color: #6070ff;
  display: block;
  border-radius: 5px;
  padding-bottom: 2px;
}

body .container {
  min-width: 100%;
  height: 600px;
  font-family: Poppins, sans-serif;
  border-radius: 1em;
  background-color: #ffff;
}

body .container .texted {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 323px;
  top: 152.24px;
}

body .container .two {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  top: 140.47px;
}

body .container .rect {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
}

body .container .eclipse {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 130.98px;
  top: 156.81px;
}

body .container .last {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}

body .container .eclipsee {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 540.69px;
}

body .container .lastone {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 550.44px;
  z-index: 1;
}

body .container .lp {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 90px;
}

body .container .header-text {
  padding-right: 100px;
  margin-left: 24px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
  padding-top: 150px;
}

body .container .text {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
}

body .container .connect {
  color: #7f8cff;
  padding-left: 24px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

body .container .socialmedia {
  display: flex;
  padding-left: 14px;
  margin: 12px;
}

body .container .socialmedia li {
  padding-right: 15px;
  list-style-type: none;
  cursor: pointer;
}

.projects {
  display: grid;
  border-radius: 1rem;
  padding-top: 114px;
  margin-bottom: 114px;
}

.card-1 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 20px;
}

.card-1 img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
}

.card-1 .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-1 .sub {
  display: flex;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-1 ul {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-1 .sub li {
  padding-left: 14px;
  list-style-type: none;
}

.card-1 .sub p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-1 .article {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 16px;
}

.card-1 .article .built-with {
  margin-bottom: 12px;
}

.card-1 .built-with button {
  color: #6070ff;
  outline: none;
  border: none;
  position: static;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  margin-top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.card-1 .built-with #c {
  margin-left: 4px;
}

.card-1 .built-with #j {
  margin-left: 4px;
}

.card-1 .prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #ffff;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.card-2 img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
}

.card-2 .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-2 .sub {
  display: flex;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-2 ul {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-2 .sub li {
  padding-left: 14px;
  list-style-type: none;
}

.card-2 .sub p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-2 .article {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 16px;
}

.card-2 .article .built-with {
  margin-bottom: 12px;
}

.card-2 .built-with button {
  color: #6070ff;
  outline: none;
  border: none;
  position: static;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  margin-top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.card-2 .built-with #c {
  margin-left: 4px;
}

.card-2 .built-with #j {
  margin-left: 4px;
}

.card-2 .prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #ffff;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 88px;
  padding-bottom: 20px;
}

.card-3 img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
}

.card-3 .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-3 .sub {
  display: flex;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-3 ul {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-3 .sub li {
  padding-left: 14px;
  list-style-type: none;
}

.card-3 .sub p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-3 .article {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 16px;
}

.card-3 .article .built-with {
  margin-bottom: 12px;
}

.card-3 .built-with button {
  color: #6070ff;
  outline: none;
  border: none;
  position: static;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  margin-top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.card-3 .built-with #c {
  margin-left: 4px;
}

.card-3 .built-with #j {
  margin-left: 4px;
}

.card-3 .prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #ffff;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.card-4 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 88px;
  padding-bottom: 20px;
}
.card-4 img {
  left: 16px;
  top: 16px;
  padding: 16px;
  align-items: center;
}

.card-4 .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-4 .sub {
  display: flex;
  padding-left: 16px;
  margin-bottom: 12px;
}

.card-4 ul {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-4 .sub li {
  padding-left: 14px;
  list-style-type: none;
}

.card-4 .sub p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-4 .article {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 16px;
}

.card-4 .article .built-with {
  margin-bottom: 12px;
}

.card-4 .built-with button {
  color: #6070ff;
  outline: none;
  border: none;
  position: static;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  margin-top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.card-4 .built-with #c {
  margin-left: 4px;
}

.card-4 .built-with #j {
  margin-left: 4px;
}

.card-4 .prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #ffff;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

body .about {
  min-width: 100%;
  font-family: Poppins, sans-serif;
  background-color: #ffff;
  border-top-right-radius: 100px;
}

body .about .header-text {
  padding-right: 100px;
  margin-left: 24px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
  padding-top: 150px;
}

body .about .text {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
}

body .about .connect {
  color: #7f8cff;
  padding-left: 24px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

body .about .socialmedia {
  display: flex;
  justify-content: row-reverse;
  padding-left: 14px;
  margin: 12px;
}

body .about .socialmedia li {
  padding-right: 15px;
  list-style-type: none;
  cursor: pointer;
}

body .about .prompt {
  padding-left: 24px;
}

body .about .prompt button {
  border: 1px solid;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #ffff;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}
